.about{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
    display: grid;
    align-items: center;
    gap: 2rem;
    color: var(--gray-100);
}

.about h1{
    border-bottom: 5px solid var(--green-300);
    font-size: 3rem;
}

.container{
    display: flex;
}

.developer, .content{
    flex: 1; /* Each takes up an equal amount of space */
}

.developer img{
    max-width: 20rem;
}

.content{
    color: var(--gray-100);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}