.about_content {
  width: 90rem;
  height: 40rem;
  color: var(--gray-100);
  padding: 0.5rem;
  border-radius: 8px;
}

.about_content h1 {
  font-size: 3rem;
  font-weight: 700;
  border-bottom: 5px solid var(--green-500);
  margin-bottom: 1rem;
}

.about_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
