.education{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    border-bottom: solid 2px var(--green-300);
}