.banner{
    padding: 1rem;
    border-radius: 8px;
    transition: ease-in-out 0.5s;
    border: 2px solid var(--gray-50);
    display: flex;
    transition: ease-in-out 0.5s;
    border: 2px solid var(--green-300);
    background: var(--gray-950);
}

.banner:hover{
    transform: scale(1.03) translateY(-10px);
}

.content{
    padding: 0.5rem;
}

.banner figure img{
    max-width: 20rem;
    border: 3px solid var(--green-300);
    border-radius: 8px;
    margin-right: 1rem;
    cursor: pointer;
    
}

.card_body{
    max-height: 20rem;
}

.button{
    
}