.about{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    padding-top: 2rem;
    display: grid;
    align-items: center;
    gap: 2rem;
    color: var(--gray-100);
}

.about h1{
    border-bottom: 5px solid var(--green-300);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.content{
    color: var(--gray-100);
}