.cape{
    background: var(--gray-900);
    color: var(--gray-100);
    max-width: 100%;
    border-radius: 8px;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.cape:hover{
    background: var(--gray-800);

}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    border: solid 5px var(--green-300);
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.content{
    text-align: justify;
}

.content h1{
    color: var(--orange-500);
    margin-bottom: 1rem;
    border-bottom: solid 2px var(--orange-500);
}
